<div class="line">
  <div class="vertical-inner">
    <div class="size1of2 unit">
      <div class="container">
        <div class="line">
          <div class="inner">
            <h3 class="bottom-inner">All blogs</h3>
            <% @blogs.each do |blog| %>
              <div class="title bolded">
                <%= link_to blog.title, blog_path(blog) %>
              </div>
              <div class="bottom-inner"><%= blog.body %></div>
              <div><%= image_tag blog.image_url(:thumb).to_s %></div>

              <div class="vertical-inner">
                <%= link_to "Edit", edit_blog_path(blog), class: "back link" if user_is_admin? %>
                <%= link_to "Delete", blog_path(blog), method: :delete, class: "back link",
                  confirm: "Are you sure you want to delete this blog?" if user_is_admin? %>
              </div>
              <hr/>
            <% end %>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="line">
  <div class="vertical-inner">
    <%= link_to "Add new blog", new_blog_path, class: "back link" if user_is_admin? %>
  </div>
</div>
