<div class="line">
  <div class="vertical-inner">
    <div class="size3of4 unit">
      <%= render "shared/single_blog" %>  
      
      <div class="line">
        <div class="vertical-inner">
          <%= render "shared/home_button", name: "Home", path: root_path, klass: "back unit space" %>
          <div class="top-back-inner">
            <%= link_to "Edit", edit_blog_path(@blog), class: "back link" if user_is_admin? %>
            <%= link_to "Delete", blog_path(@blog), method: :delete, class: "back link",
            data: { confirm: 'Are you sure you want to delete this blog?' } if user_is_admin? %>
            <%= link_to "Back to category", category_path(@category), class: "back link" %>
          </div>
        </div>
      </div>
    </div>
    <%= render "shared/about_me"%>
    <%= render "shared/blogs_list" %>
  </div>
</div>


