<div class="line">
  <div class="vertical-inner">
    <div class="size3of4 unit">
      <div class="container">
        <div class="line">
          <div class="inner">
            <% @category.blogs.each do |blog| %>
            <div>
              <h3 class="title">
                <%= link_to blog.title, blog_path(blog) %>
              </h3>
              <div class="content">
                <%= markdown blog.body %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="line">
        <div class="vertical-inner">
          <%= render "shared/home_button", name: "All Blogs", klass: "back", path: root_path %>
        </div>
      </div>
    </div>
    <%= render "shared/about_me"%>
    <%= render "shared/blogs_list" %>
  </div>
</div>

